html
{ 
     margin:0; 
    padding:0; 
 } 

body
{
    font-family: 'Courier New', courier, Calibri, Arial, modern, monospace, sans-serif;
    font-size: 80%;
    color: #00DD00;
    background-color: black;
}

a:link {
    color: #00FFFF;
}

.textbox
{
    font-family: 'Courier New', courier, Calibri, Arial, modern, monospace, sans-serif;
    color: #00DD00;
    border: 0px;
    background-color: black;
    width: 90%; 
}

.textbox:focus
{
    outline:none;
}

.left
{
    float: left;
    position: relative;
}
.right
{
    float: right;
    position: relative;
}

.textRight
{
    text-align: right;
}

.softBorder
{
    border:2px solid;
    border-radius:5px;
    padding:3px;
}

.noBorder
{
    border:0px;
    padding:1px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.verticalScroll
{
   overflow-y:auto; 
   overflow-x: hidden;
}

.spacer
{
    height:1px;
    width:800px;
}

.smallBox
{
    height:35vh;
    width:800px;
}

.oneLineBox
{
    height:20px;
    width:800px;
}

.halfLineBox
{
    height:12px;
    width:800px;
    transition:color 0.5s;
    -webkit-transition:color 0.5s;
    -moz-transition:color 0.5s;
    -o-transition:color 0.5s;
}

.bigBox
{
    height:48vh;
    width:800px;
}

.pictureBox
{
    height:30vh;
    width:30vh;
    
}
.inventoryBox
{
    height:30vh;
    width:30vh;
}

td {
    vertical-align: top;
}

img{
    width:100%;
    height:100%;
}

.softBorder.smallBox{}
.softBorder.oneLineBox{}
.softBorder.halfLineBox{}
.softBorder.bigBox.verticalScroll{}
.softBorder.smallBox.verticalScroll{}
.softBorder.narrowBox.verticalScroll{}
.softBorder.pictureBox{}
.softBorder.inventoryBox.verticalScroll{}